/** 
 * root element for the scrollable. 
 * when scrolling occurs this element stays still. 
 */ 
div.node-weight-slide-content-scrollable { 
 
  /* required settings */ 
  position:relative; 
  overflow:hidden; 
  width: 600px; 
  height:140px; 
} 
 
/**
 * root element for scrollable items. Must be absolutely positioned 
 * and it should have a extremely large width to accomodate scrollable items. 
 * it's enough that you set width and height for the root element and 
 * not for this element. 
 */ 
div.node-weight-slide-content-scrollable div.items { 
  /* this cannot be too large */ 
  width:20000em; 
  position:absolute; 
} 
 
/**
 * a single item. must be floated in horizontal scrolling. 
 * typically, this element is the one that *you* will style 
 * the most. 
 */ 
div.node-weight-slide-content-scrollable div.items div { 
  float:left; 
  width: 300px;
} 
 
/* you may want to setup some decorations to active the item */ 
div.node-weight-slide-content-scrollable div.items div.active { 
  border:1px inset #ccc; 
  background-color:#fff; 
}

div.navi {
  float: left;
}

div.navi .active { } 
